.main-page {
  --blue: rgb(3, 118, 227);
  --default-font: 'Archivo', sans-serif;
  --white: rgb(255, 255, 255);
  background-color: var(--blue);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 501px;
  background-color: rgb(30, 33, 39);
  border-radius: 2px;
}

.main-page-title {
  font-size: 38px;
  font-weight: 300;
  color: var(--white);
  line-height: 50px;
  font-family: var(--default-font);
}

.button-clarifier-text {
  color: var(--white);
  line-height: 50px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  font-family: var(--default-font);
}

.container button {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  font-family: var(--default-font);
  font-weight: 300;
}