<app-nav-bar></app-nav-bar>
<div style="display: flex;flex-wrap:wrap">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-title-group>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      <img mat-card-lg-image src={{movie.ImagePath}} alt= {{movie.Title}} />
    </mat-card-title-group>

    <mat-card-actions>
      <button
        mat-button
        color="primary"
        (click)='showGenreDialog(
        movie.Genre.Name,
        movie.Genre.Description
        )'>
        Genre
      </button>
      <button
        mat-button
        color="primary"
        (click)='showDirectorDialog(
        movie.Director.Name,
        movie.Director.Bio,
        movie.Director.Birth,
        movie.Director.Death
        )'>
        Director
      </button>
      <button
        mat-button
        color="primary"
        (click)='showDetailsDialog(
        movie.Title,
        movie.ImagePath,
        movie.Description,
        movie.Genre.Name,
        movie.Director.Name
        )'>
        Details
      </button>
      <button
        mat-icon-button
        color='warn'
        aria-label='Add movie to favorites button'
        (click)='addFavorite(movie._id, movie.Title)'>
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>