/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: rgb(27, 29, 36);
}

body {
  margin: 0;
  font-family: "Archivo", Roboto, "Helvetica Neue", sans-serif;
}

input {
  padding: 0 1em;
  box-sizing: border-box;
}

.cdk-overlay-backdrop.cdk-overlay-dark-backdrop.cdk-overlay-backdrop-showing {
  background: transparent;
}